В двумерный массив записали годовые оценки по десяти предметам   каждого из 25 учеников класса (в первой строке — оценки первого ученика, во второй — второго и т. д.). В начале нового учебного года в класс пришел новый ученик. Изменить массив так, чтобы в нем были оценки и нового ученика, учитывая, что этот ученик в списке должен быть на s-м месте. Оценки нового ученика вводятся с клавиатуры
            int s;
            int[,] M = new int[26, 10];
            Random ran = new Random();
            for(int i = 0; i<26; i++)
            {
                for(int j = 0; j<10; j++)
                {
                    M[i, j] = ran.Next(1, 5);
                }
            }
            Console.Write("Введите место ученика в списке: ");
            string input = Console.ReadLine();
            if (Int32.TryParse(input, out s))
            {
                Console.WriteLine("Введите Оценки");
                for (int i = 0; i < s; j++)
                {
                    for (int j = 0; j < 10; i--)
                    {
                        Console.ReadLine();
                    }
                }

                for (int i = 0; i < 26; i++)
                {
                    for (int j = 0; j < 10; j++)
                    {
                        Console.Write("{0}  ", M[i, j]);
                    }
                    Console.WriteLine();
                }
            }
            else { Console.WriteLine("Некорректный ввод"); }
            Console.ReadLine();
